.banner-user {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 100px 35px 35px 50px;
  position: relative;
  margin-bottom: 30px;
  z-index: 0;

  @media (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .media {
    align-items: center;
    display: flex;
    color: #fff;

    @media (max-width: 575px) {
      display: block;
      text-align: center;
    }

    .item-img {
      position: relative;
      margin-right: 30px;
      border-radius: 50%;
      background-color: #fff;
      padding: 5px;
      display: inline-block;
      width: 125px;
      height: 125px;

      @media (max-width: 575px) {
        margin-right: 0;
        margin-bottom: 30px;
      }

      &:after {
        content: url('../../images/icons/avatar-circle.png');
        position: absolute;
        top: -9px;
        left: -8px;
      }

      img {
        border-radius: 100%;
        width: 115px;
        height: 115px;
        object-fit: cover;
      }
    }

    .media-body {
      position: relative;
      flex: 1;
    }

    .item-title {
      display: flex;
      font-size: 26px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 2px;
      position: relative;
      text-transform: capitalize;

      @media (max-width: 575px) {
        justify-content: center;
      }
    }
  }
}
