.post-card {
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(22, 41, 124, 0.1);

  .post-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 10px;

    .media {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;

      .activity-avatar {
        display: flex;

        .status-info {
          .activity-title {
            font-size: 14px;

            a {
              font-size: 16px;
              font-weight: 500;
              color: #333;
              margin-right: 5px;
              text-decoration: none;
              text-transform: capitalize;
              transition: 0.4s;

              &:hover {
                color: $aurora-color;
              }
            }

            span {
              color: #9e9faf;
            }
          }

          .activity-time {
            color: #9e9faf;
            font-size: 13px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .post-body {
    .activity-inner {
      padding: 0 30px 10px;

      .widget-box-status-text {
        white-space: pre-wrap;
        font-size: 15px;
        color: #71728c;
        line-height: 24px;
        margin: 10px 0 20px 0;

        @media (max-width: 576px) {
          ul,
          ol {
            padding: 0 15px;
          }
        }
      }

      .post-thumbs {
        margin-bottom: 6px;

        a {
          position: relative;
          border-radius: 10px;

          &:hover:before {
            opacity: 1;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000003d;
            opacity: 0;
            border-radius: 10px;
            transition: 0.4s;
          }

          img {
            max-width: 100%;
            height: 240px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;

            @media (max-width: 576px) {
              height: 150px;
            }
          }
        }
      }
    }
  }

  .post-footer {
    padding: 16px 30px;
  }

  @media (max-width: 576px) {
    .post-header {
      padding-left: 15px;
      padding-right: 15px;
    }

    .post-body {
      .activity-inner {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .post-footer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
